IMS/postgres/pg_hba.conf
IMS/postgres/pg_ident.conf
IMS/postgres/PG_VERSION
IMS/postgres/postgresql.auto.conf
IMS/postgres/postgresql.conf
IMS/postgres/postmaster.opts
IMS/postgres/postmaster.pid
IMS/postgres/*
IMS/system/*
IMS/application/logs/*

